// Primary
$limeGreen: hsl(163, 72%, 41%);
$brightRed: hsl(356, 69%, 56%);
$colorFacebook: hsl(208, 92%, 53%);
$colorTwitter: hsl(203, 89%, 53%);
$colorInstagram: (180deg, #fdc468, #df4996);
$colorYouTube: hsl(348, 97%, 39%);

// Dark Theme
$toggleDark: (to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
$darkHover: hsl(228, 26%, 27%);
$veryDarkBlueBg: hsl(230, 17%, 14%);
$veryDarkBlueTopBgPattern: hsl(232, 19%, 15%);
$darkDesaturatedBlueCardBg: hsl(228, 28%, 20%);
$desaturatedBlueText: #8b97c6;
$WhiteText: hsl(0, 0%, 100%);

// Light Theme
$toggleLight: hsl(230, 22%, 74%);
$lightHover: hsl(231, 29%, 91%);
$whiteBg: #ffffff;
$veryPaleBlueTopBgPattern: hsl(225, 100%, 98%);
$lightGrayishBlueCardBg: hsl(227, 47%, 96%);
$darkGrayishBlueText: #63687e;
$veryDarkBlueText: hsl(230, 17%, 14%);

$fontSm: 0.875rem; // 14px
